* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, "Microsoft YaHei UI", sans-serif;
  font-size: 14px; }
  body::-webkit-scrollbar {
    display: none; }

div.fork {
  width: 168px;
  height: 36px;
  display: block;
  line-height: 36px;
  background-color: #f44336;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  right: -40px;
  top: 24px;
  transform: rotateZ(45deg); }
  div.fork a {
    color: #ffffff;
    text-decoration: none; }

div.section {
  min-height: 64px;
  padding: 14px 16px;
  width: 100%;
  display: block; }

button#upload-btn {
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 8px 16px;
  background-color: #2196f3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }

input#upload {
  display: none; }

div.image {
  width: 300px;
  height: 300px;
  background-image: url("alphagrid.png");
  background-repeat: repeat;
  background-size: 5%;
  display: block; }
  @media (max-width: 400px) {
    div.image {
      width: 256px;
      height: 256px; } }

div.slide {
  height: 48px;
  padding: 15px 0;
  display: grid;
  width: 300px;
  grid-template-columns: 36px calc(100% - 72px) 36px; }
  @media (max-width: 400px) {
    div.slide {
      width: 256px; } }
  div.slide input {
    grid-column: 2; }
  div.slide span {
    font-size: 14px;
    height: 18px;
    display: block;
    line-height: 18px;
    width: 36px; }
  div.slide span:first-of-type {
    grid-column: 1;
    text-align: left; }
  div.slide span:last-of-type {
    grid-column: 3;
    text-align: right; }

div.preview {
  border-radius: 50%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  background-image: url("alphagrid.png");
  background-repeat: repeat;
  background-size: 15%;
  width: 80px;
  height: 80px;
  overflow: hidden; }
  div.preview canvas {
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%; }

textarea {
  width: 300px;
  height: 300px;
  resize: none;
  display: block;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  transition: box-shadow ease 300ms;
  padding: 0 8px;
  font-size: 14px;
  font-family: monospace; }
  textarea:focus {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
  textarea::-webkit-scrollbar {
    display: none; }
  @media (max-width: 400px) {
    textarea {
      width: 256px;
      height: 256px; } }
