* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }

body {
  margin: 0;
  font-family: 'Roboto', "Microsoft YaHei", sans-serif;
  font-size: 14px; }
  body::-webkit-scrollbar {
    display: none; }
  @media (max-width: 360px) {
    body {
      padding-top: 32px; } }

h1,
h2 {
  color: #424242;
  padding: 0 16px; }

div.fork {
  width: 168px;
  height: 36px;
  display: block;
  line-height: 36px;
  background-color: #f44336;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  right: -40px;
  top: 24px;
  transform: rotateZ(45deg);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
  div.fork a {
    color: #ffffff;
    text-decoration: none; }

.avatar-canvas {
  width: 100%;
  display: block; }
  .avatar-canvas div.section {
    display: block;
    min-height: 64px;
    padding: 14px 16px;
    width: 100%;
    display: block; }
    .avatar-canvas div.section .title {
      color: #666666;
      font-size: 16px;
      display: block;
      height: 32px;
      line-height: 32px; }
      .avatar-canvas div.section .title:before {
        content: attr(data_index);
        height: 16px;
        margin-right: 8px;
        width: 8px;
        color: #ffffff;
        padding: 0 8px;
        border-radius: 2px;
        background-color: #2196f3; }
    .avatar-canvas div.section .upload button#upload-btn {
      outline: none;
      border: none;
      border-radius: 2px;
      padding: 8px 16px;
      background-color: #2196f3;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 14px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
    .avatar-canvas div.section .upload input#upload {
      display: none; }
    .avatar-canvas div.section div.image {
      width: 300px;
      height: 300px;
      background-image: url("alphagrid.png");
      background-repeat: repeat;
      background-size: 5%;
      display: block; }
      @media (max-width: 400px) {
        .avatar-canvas div.section div.image {
          width: 256px;
          height: 256px; } }
    .avatar-canvas div.section div.slide {
      height: 48px;
      padding: 15px 0;
      display: grid;
      width: 300px;
      grid-template-columns: 36px calc(100% - 72px) 36px; }
      @media (max-width: 400px) {
        .avatar-canvas div.section div.slide {
          width: 256px; } }
      .avatar-canvas div.section div.slide input {
        grid-column: 2; }
      .avatar-canvas div.section div.slide span {
        font-size: 14px;
        height: 18px;
        display: block;
        line-height: 18px;
        width: 36px; }
      .avatar-canvas div.section div.slide span:first-of-type {
        grid-column: 1;
        text-align: left; }
      .avatar-canvas div.section div.slide span:last-of-type {
        grid-column: 3;
        text-align: right; }
    .avatar-canvas div.section div.preview {
      border-radius: 50%;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
      background-image: url("alphagrid.png");
      background-repeat: repeat;
      background-size: 15%;
      width: 80px;
      height: 80px;
      overflow: hidden; }
      .avatar-canvas div.section div.preview canvas {
        width: 80px;
        height: 80px;
        border: 1px solid white;
        border-radius: 50%; }
    .avatar-canvas div.section .datacontent textarea {
      width: 300px;
      height: 300px;
      resize: none;
      display: block;
      outline: none;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      transition: box-shadow ease 300ms;
      padding: 0 8px;
      font-size: 14px;
      font-family: monospace; }
      .avatar-canvas div.section .datacontent textarea:focus {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
      .avatar-canvas div.section .datacontent textarea::-webkit-scrollbar {
        display: none; }
      @media (max-width: 400px) {
        .avatar-canvas div.section .datacontent textarea {
          width: 256px;
          height: 256px; } }
  @media (min-width: 640px) {
    .avatar-canvas {
      display: grid;
      grid-template-columns: 300px 40px 300px;
      grid-template-rows: 140px 360px 108px; }
      .avatar-canvas div.section {
        width: initial; }
        .avatar-canvas div.section.g1 {
          grid-column: 1;
          grid-row: 1; }
        .avatar-canvas div.section.g2 {
          grid-column: 3;
          grid-row: 1; }
        .avatar-canvas div.section.g3 {
          grid-column: 1;
          grid-row: 2; }
        .avatar-canvas div.section.g4 {
          grid-column: 3;
          grid-row: 2; }
        .avatar-canvas div.section.g5 {
          grid-column: 1;
          grid-row: 3; } }
  @media (max-width: 639px) {
    .avatar-canvas {
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 5; }
      .avatar-canvas div.section {
        width: 100%; }
        .avatar-canvas div.section.g1 {
          grid-column: 1;
          grid-row: 1; }
        .avatar-canvas div.section.g2 {
          grid-column: 1;
          grid-row: 2; }
        .avatar-canvas div.section.g3 {
          grid-column: 1;
          grid-row: 3; }
        .avatar-canvas div.section.g4 {
          grid-column: 1;
          grid-row: 5; }
        .avatar-canvas div.section.g5 {
          grid-column: 1;
          grid-row: 4; } }

.footer {
  width: 100%;
  display: block; }
  .footer span {
    width: 100%;
    text-align: center;
    display: block;
    height: 24px;
    line-height: 24px; }
    .footer span.name {
      font-size: 16px;
      font-family: 'Roboto Mono', monospace;
      color: #666666; }
    .footer span.word {
      font-size: 12px;
      font-style: italic;
      color: #9e9e9e; }
